<h2 align="center"> Titre : <%= @article.title %> </h2> 

<div class="well col-xs-8 col-xs-offset-2">  
  

  <h4> Description : </h4>
  
  <%= @article.description %>
  


  <div class="article-actions">
    
    <%= link_to 'voir la liste des articles', articles_path, class: "btn btn-xs btn-primary"  %>
    <%= link_to 'Editer l\'article', edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    
  </div>
</div>